html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shantell Sans";
  font-weight: 700;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(57, 132, 202);

  &__title {
    padding-block: 50px;
    font-size: 50px;
  }

  &__game {
    display: flex;
    justify-content: center;
    height: 700px;
    gap: 100px;
  }

  &__choiceBlock {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 550px;
  }
}
