html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shantell Sans";
  font-weight: 700;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(57, 132, 202);

  &__title {
    padding-block: 50px;
    font-size: 50px;
  }

  &__players {
    display: flex;
    justify-content: center;
    height: 700px;
    gap: 100px;
  }

  &__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    padding: 30px;
    background-color: rgb(119, 165, 234);
    border-radius: 40px;

    &--iconBlock {
      display: grid;
      place-items: center;
      width: 110px;
      height: 110px;
      background-color: rgb(57, 132, 202);
      border-radius: 50%;
    }

    &--icon {
      width: 70px;
    }

    &--name {
      margin-block: 20px;
    }

    &--pointsBlock {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &--point {
      width: 60px;
    }
  }

  &__choiceBlock {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__choices {
    display: flex;
    justify-content: space-between;
    transform: translateY(40px);

    &--player,
    &--computer {
      width: 250px;
    }

    &--player {
      transform: scaleX(-1);
    }

    &--player-animate {
      animation: shakePlayer 2s ease-in-out;
    }

    &--computer-animate {
      animation: shakeComputer 2s ease-in-out;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 550px;
    height: 180px;
    background-color: rgb(119, 165, 234);
    border-radius: 40px;

    &--button {
      display: grid;
      place-items: center;
      border-radius: 50%;
      width: 140px;
      height: 140px;
      border: none;
      transition: all 0.5s ease-in-out;
      background-color: rgb(255, 255, 255);

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        opacity: 0.5;
        cursor: no-drop;
      }
    }

    &--image {
      transform: translateY(10px);
      width: 130px;
      height: 130px;

      &:hover {
        animation: shakeChoice 2s ease-in-out;
      }
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-block: 0 50px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__restartButton {
    font-size: 25px;
    cursor: pointer;
    border: none;
    width: 350px;
    height: 100px;
    background-color: rgb(119, 165, 234);
    border-radius: 40px;
  }
}

@keyframes shakePlayer {
  0% {
    transform: scaleX(-1);
  }
  15% {
    transform: scaleX(-1) rotate(-30deg) translateY(-30px);
  }
  25% {
    transform: scaleX(-1) rotate(30deg);
  }
  35% {
    transform: scaleX(-1) rotate(-30deg) translateY(-30px);
  }
  50% {
    transform: scaleX(-1) rotate(30deg);
  }
  65% {
    transform: scaleX(-1) rotate(-30deg) translateY(-30px);
  }
  75% {
    transform: scaleX(-1) rotate(30deg);
  }
  85% {
    transform: scaleX(-1) rotate(-30deg) translateY(-30px);
  }
  100% {
    transform: scaleX(-1);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-50px) rotate(-30deg);
  }
  25% {
    transform: translateY(0) rotate(30deg);
  }
  35% {
    transform: translateY(-50px) rotate(-30deg);
  }
  50% {
    transform: translateY(0) rotate(30deg);
  }
  65% {
    transform: translateY(-50px) rotate(-30deg);
  }
  75% {
    transform: translateY(0) rotate(30deg);
  }
  85% {
    transform: translateY(-50px) rotate(-30deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shakeChoice {
  0% {
    transform: translateY(10px);
  }
  15% {
    transform: translateY(10px) rotate(-30deg);
  }
  25% {
    transform: translateY(10px) rotate(30deg);
  }
  35% {
    transform: translateY(10px) rotate(-30deg);
  }
  50% {
    transform: translateY(10px) rotate(30deg);
  }
  65% {
    transform: translateY(10px) rotate(-30deg);
  }
  75% {
    transform: translateY(10px) rotate(30deg);
  }
  85% {
    transform: translateY(10px) rotate(-30deg);
  }
  100% {
    transform: translateY(10px);
  }
}
